<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<context-param>
		<param-name>UPLOADFILES_FOLDER_NAME</param-name>
		<param-value>uploadFiles</param-value>
	</context-param>
	<context-param>
		<param-name>UPLOADFILRS_MAX_SIZE</param-name>
		<param-value>10485760</param-value>
	</context-param>
	<context-param>
		<param-name>log4j</param-name>
		<param-value>WEB-INF/classes/bin/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>bin.listener.SystemInitListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>AjaxLoad</servlet-name>
		<servlet-class>bin.servlet.AjaxLoad</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxLoad</servlet-name>
		<url-pattern>/AjaxLoad</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AjaxLoadServerFiles</servlet-name>
		<servlet-class>bin.servlet.AjaxLoadServerFiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxLoadServerFiles</servlet-name>
		<url-pattern>/AjaxLoadServerFiles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>bin.servlet.Download</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/Download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Download2</servlet-name>
		<servlet-class>bin.servlet.Download2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download2</servlet-name>
		<url-pattern>/Download2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowServerFiles</servlet-name>
		<servlet-class>bin.servlet.ShowServerFiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowServerFiles</servlet-name>
		<url-pattern>/ShowServerFiles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Speak</servlet-name>
		<servlet-class>bin.servlet.Speak</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Speak</servlet-name>
		<url-pattern>/Speak</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>bin.servlet.Upload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowUploadFiles</servlet-name>
		<servlet-class>bin.servlet.ShowUploadFiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowUploadFiles</servlet-name>
		<url-pattern>/ShowUploadFiles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteUploadFiles</servlet-name>
		<servlet-class>bin.servlet.DeleteUploadFiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUploadFiles</servlet-name>
		<url-pattern>/DeleteUploadFiles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>bin.servlet.Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowLog</servlet-name>
		<servlet-class>bin.servlet.ShowLog</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowLog</servlet-name>
		<url-pattern>/ShowLog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Admin2</servlet-name>
		<servlet-class>bin.servlet.Admin2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin2</servlet-name>
		<url-pattern>/Admin2</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>GetUploadFilesFilter</filter-name>
		<filter-class>bin.filter.GetUploadFilesFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GetUploadFilesFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>bin.filter.SetCharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>/WEB-INF/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>